

<div  class="_addd">
    <button mat-raised-button class="ADDD"   (click)="openDialog('add')"><mat-icon>add</mat-icon> Add User</button>
  </div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="First Name">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.fname}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Last Name">
      <th mat-header-cell *matHeaderCellDef>Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lname}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.age
      }} </td>
    </ng-container>
    <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>
      <ng-container matColumnDef="City">
        <th mat-header-cell *matHeaderCellDef> City </th>
        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
      </ng-container>
      <ng-container matColumnDef="State">
        <th mat-header-cell *matHeaderCellDef> State </th>
        <td mat-cell *matCellDef="let element"> {{element.state}} </td>
      </ng-container>
      <ng-container matColumnDef="DOB">
        <th mat-header-cell *matHeaderCellDef> DOB </th>
        <td mat-cell *matCellDef="let element"> {{element.dob |date}} </td>
      </ng-container>
      <ng-container matColumnDef="Gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender
        }} </td>
      </ng-container>
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> 
          <div aria-label="Example icon button with a home icon">
            <mat-icon class="__maticondkds"   (click)="view('view', element)">visibility</mat-icon>
            <mat-icon  class="__maticondkds"  (click)="edit('edit', element)">edit</mat-icon>
            <mat-icon   class="__maticondkds"  (click)="recordDelete(element._id)">delete</mat-icon>
          </div>
  
        
   </td>
        <!-- <td mat-cell *matCellDef="let element"> {{element.symbol}} </td> -->
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of periodic elements">
</mat-paginator>
  
  