table {
    width: 100%;
  }

  ._addd {
    display: flex;
    justify-content: end;
    margin: auto;
}

.ADDD{
    margin:10px 10px;
    background-color: white !important;

    color: black !important;
}

:hover.__maticondkds{
  
  background-color: #3f5e6d;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}