._hjdjsd {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

._firle{
    margin: 10px 5px;
}

.text-area__{
    width: 505px;
}


.chanes{
    width: 15.4rem !important;
}
.errorClass{
    color: red;
}

.validsta{
    color: green;
}
// .mat-mdc-text-field-wrapper.mdc-text-field.ng-tns-c1205077789-3.mdc-text-field--outlined {
//     color: red;
// }